.sidebar {
  margin-top: 60px;
  width: 50px; /* Chiều rộng mặc định khi sidebar thu gọn */
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(88 97 147);
  z-index: 100; /* Đảm bảo sidebar luôn hiển thị trước app-router */
  transition: width 0.3s ease, z-index 0s ease 0.3s;
  overflow: hidden;
}

.sidebar-expanded {
  width: 200px; /* Chiều rộng khi sidebar được mở rộng */
  z-index: 1001; /* Đảm bảo sidebar luôn hiển thị trước app-router khi mở rộng */
  transition: width 0.3s ease, z-index 0s ease 0s;
}

.sidebar .nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.sidebar .nav-link .icon {
  width: 30px; /* Đặt kích thước cho icon SVG */
  height: 30px;
  margin-right: 10px; /* Khoảng cách giữa icon và văn bản */
}

.sidebar .nav-link span {
  display: none; /* Mặc định ẩn đi */
  padding-left: 10px;
  white-space: nowrap;
}

.sidebar-expanded .nav-link span {
  display: inline-block;
}

.app-content {
  margin-left: 50px; /* Để nội dung không bị che phủ bởi sidebar khi thu gọn */
  transition: margin-left 0.3s ease;
}

.sidebar-expanded + .app-content {
  margin-left: 200px; /* Điều chỉnh margin khi sidebar được mở rộng */
}
