<div class="sidebar" [ngClass]="{'sidebar-expanded': isHovered}" (mouseenter)="toggleHover(true)" (mouseleave)="toggleHover(false)">
  <div class="nav">
    <div class="nav-item">
      <a class="nav-link" href="#">
        <img src="assets/images/icon%20home.svg" alt="Home" class="icon">
        <span>Home</span>
      </a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="#">
        <img src="assets/images/detail.svg" alt="Room Info" class="icon">
        <span>Room Info</span>
      </a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="#">
        <img src="assets/images/calendar.svg" alt="Rental Time" class="icon">
        <span>Rental Time</span>
      </a>
    </div>
    <div class="nav-item">
      <a class="nav-link" href="#">
        <img src="assets/images/money.svg" alt="Finances" class="icon">
        <span>Finances</span>
      </a>
    </div>
  </div>
</div>
