<div class="sidebar" [ngClass]="{'sidebar-collapsed': !sidebarVisible}">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="pi pi-home"></i> <span *ngIf="sidebarVisible">Home</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="pi pi-info-circle"></i> <span *ngIf="sidebarVisible">Room Info</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="pi pi-calendar"></i> <span *ngIf="sidebarVisible">Rental Time</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="pi pi-dollar"></i> <span *ngIf="sidebarVisible">Finances</span></a>
    </li>
  </ul>
</div>
